.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* NAVBAR */
.content nav {
    z-index: 1;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    transition: 0.8s;
}

.nav-scrolling {
    background-color: #FFF;
    padding: 1rem 12rem !important;
}

.content nav .logo {
    font-size: 3rem;
    color: #333333;
    font-weight: 900;
}

.content nav .nav-menu .nav-list {
    display: flex;
}

.content nav .nav-menu .nav-list .nav-item {
    margin: 0 1rem;
}

.content nav .nav-menu .nav-list .nav-item .nav-link {
    font-size: 1.2rem;
    color: #333333;
    font-weight: 900;
    transition: .2s;
}

.content nav .nav-menu .nav-list .nav-item .nav-link:hover {
    color: #333333 !important;
}

.active-link {
    background-color: #333333;
    padding: .5rem;
    box-shadow: 0 0.15em 0 #c3c6d1;
    border-radius: 0.75em;
}

.content nav .nav-menu .nav-list .nav-item .nav-link.active-link {
    color: #fff !important;
}

.toggle {
    display: none;
}

.toggle .fa-angles-up {
    display: none;
}

.content nav .nav-menu-mobile {
    display: none;
}

.content main {
    padding-bottom: 200px;
}

/* MAIN - First Section */
.content main .first-section {
    background-color: #FFF;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 150px;
}

.content main .first-section .img-first-section {
    width: 400px;
}

.content main .first-section .img-first-section img {
    width: 100%;
}

.content main .first-section .title-first-section {
    margin-top: 2rem;
    text-align: center;
}

.content main .first-section .title-first-section h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #333333;
}

.content main .first-section .title-first-section h1 span {
    color: #1b1b1b;
}

.content main .first-section .title-first-section h4 {
    font-weight: 600;
    color: #333333;
}

/*FOOTER */
.content footer {
    background-image: linear-gradient(to bottom, #333333, #1b1b1b);
    position: relative;
}

.custom-shape-divider.footer {
    top: -140px;
}

.custom-shape-divider.footer svg {
    height: 150px;
}

.custom-shape-divider.footer .shape-fill {
    fill: #333333;
}

.content footer .content-footer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 4rem 0;
}

.content footer .content-footer .resume {
    max-width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
}

.content footer .content-footer .resume .footer-logo {
    margin-bottom: 2rem;
}

.content footer .content-footer .resume  img {
    width: 80px;
}

.content footer .content-footer .resume  h2 {
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
}

.content footer .content-footer .resume  p {
    color: #fff;
    font-weight: 700;
}

.content footer .content-footer .contact form {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    color: #fff;
}

.content footer .content-footer .contact input {
    padding: .4rem;
    margin: 1rem 0;
    box-shadow: 0 0.15em 0 #c3c6d1;
    border-radius: 0.75em;
    outline: none;
    border: none;
}

.content footer .content-footer .contact textarea {
    outline: none;
    border: none;
    padding: .4rem;
    color: #333333;
    font-size: 1rem;
    resize: none;
    box-shadow: 0 0.15em 0 #c3c6d1;
    border-radius: 0.75em;
}

.content footer .content-footer .contact button {
    outline: none;
    border: none;
    margin-top: 1rem;
    padding: .4rem;
    font-size: 1.4rem;
    box-shadow: 0 0.15em 0 #c3c6d1;
    border-radius: 0.75em;
    cursor: pointer;
    position: relative;
    color: #333333;
}

.content footer .content-footer .contact button:hover {
    top: 0.25em;
    box-shadow: none;
}

.content footer .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content footer .options ul {
    display: flex;
}

.content footer .options ul li {
    margin: 2rem 1rem;
}

.content footer .options ul li a {
    position: relative;
    background-color: #fff;
    padding: .8rem 1.2rem;
    font-size: 2rem;
    box-shadow: 0 0.15em 0 #c3c6d1;
    border-radius: 0.75em;
    color: #333333;
}

.content footer .options ul li a:hover {
    top: 0.25em;
    box-shadow: none;
}

.content footer .options .arrow-up-section {
    position: relative;
    background-color: #333333;
    padding: .8rem 1.2rem;
    font-size: 2rem;
    box-shadow: 0 0.15em 0 #424242;
    border-radius: 0.75em;
    color: #fff;
}

.content footer .options .arrow-up-section:hover {
    top: 0.25em;
    box-shadow: none;
}

.content .copyright {
    background-color: #333333;
    padding: 1rem 2rem;
    color: #fff;
}

.content .copyright a {
    color: #fff;
}


.content .copyright p span {
    color: rgba(255, 255, 255, 0.459);
}
